$primary : #232323;
$secondary : #FFF;
$tertiary : #4D1521;
$quaternary : #2E1D45;
$quinary : #be0101;
$error : #c00000;
$valid : #00a651;
$white : #fff;
$black : #000;

/* Typography */
$font : "Asap", "HelveticaNeue", "Arial", sans-serif;
$font-headTags  : "Asap", "HelveticaNeue", "Arial", sans-serif;
$font-secondary : Garamond, "Apple Garamond", "ITC Garamond Narrow","Palatino Linotype", Palatino, Palladio, Georgia, serif;
$font-norm : 1;
$font-small : 0.75;
$font-large : 1.2;