@charset "UTF-8";  
/*------------------------------------*\
	$SENTRA STYLE GUIDE
\*------------------------------------*/ 

/*-----------------------------------------------------*\
  reset & variables & mixins
\*-----------------------------------------------------*/ 
@import "imports/reset";
@import "vars";
@import "mixins";

body {
  font-family: $font;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #000;
}

h1{
	font-size:4.4em; 
	line-height:1.1em; 
	color:$secondary}
h2{
	font-size:2.3em;
}
h3{
	font-size:1.5em;
	font-weight:normal;
	color:$tertiary;
}

hr{
	background-image:url(../img/background/hr.png); 
	background-repeat:repeat;
	height:4px;
	border:none;
	margin:1.1em 0;
}

ul li {
	list-style:none; /* if you’re not already using a reset */
	margin-left:0.9em;
}
ul li:before {
  color:#fff; /* set color to red */
  margin-left:-0.7em;
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}


