// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

.slide{
	height:auto;
	position:relative;
	overflow:visible;

	&.is-center{
		text-align: center;
		& hr{
			width:10em;
			margin: 1em auto;
			width: 46em;
		}
	}
	&.A{
		background: url(../img/background/a.gif) repeat;
	}
	&.B{
		background: url(../img/background/b.gif) repeat;
	}
	&.C{
		background: url(../img/background/c.gif) repeat;
	}
	&.D{
		background: url(../img/background/d.gif) repeat;
	}
	& .content{
		position:relative;
		padding:60px 0 60px 20px;
		&.fixed{
			position:relative;
		}
		&.static{
			position:relative;
		}
	}
	&.is-wide .content{
		top:8%;
	}
	& .sideBar{
		display:none;
	}
	& .centerBar{
	    display: none;
	}
	& .next{
		display: none;
	}
}

#nav{display:none;}