// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================


.slide{
	@include fullscreen;

	& .content{
		@include fullscreen;
		top:9%;
		&.fixed{
			position:fixed;
		}
		&.static{
			position:fixed;
		}
	}
	& .content{
		padding:0 14%;
	}
	&.is-center{
		text-align: center;
		& hr{
			width:10em;
			margin: 1em auto;
			width: 46em;
		}
	}
	&.is-wide .content{
		top:8%;
	}
	& .content.map{
		top:1%;
	}
	& .sideBar{
		height: 100%;
	    padding-top: 1em;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 100%;
	    background-attachment: fixed;
	    background-position: 90% center;
	    background-repeat: no-repeat;
	    display: block;
	}
	& .centerBar{
		display:inline;
		width:100%;
	}
	& .next{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		display: block;
		text-align: center;
		& span{
			display:inline-block;
			padding:1em;
			color:$secondary;
			font-size:1.2em;
			font-style:italic;
			position: relative;
			top:0.2em;
		}
		& .box{
			display:inline-block;
			width:60px;
			height:60px;
			position:relative;
			cursor:pointer;
		}
		& button{
			border:none;
			@include fullscreen;
			background-color:#fff;
			border-radius:5px 5px 0 0;
			opacity:0.1;
			cursor:pointer;
		}
		& .caret{
			background-image: url("../img/background/downCaret.png");
		    bottom: 18px;
		    height: 19px;
		    left: 13px;
		    margin: 0 auto;
		    position: absolute;
		    width: 36px;
		}
	}
}



#mapKey{
	left:4%; 
}

#nav{ 
	position:fixed; 
	right:20px; 
	top:20px;
	z-index:10;
	padding:11px;
    cursor: pointer;
    display: block;
    & .pagination{
    	position: relative;
    }
    & .navbg{
		@include fullscreen;
		position:absolute;
		top:0;
		left:0;
		background-color:#fff;
		opacity:0.1;
		z-index:1;
		border-radius:6px;
	}
	& .toolTip{
		& .caret{
			bottom:13px;
			left:83px;
		}
		& .caret:before{
			content:"\25BA";
		}
	}
	& ul li{
		margin:0;
		position:relative;
		z-index:10;
		&:before{
			border-radius: 5px 5px 5px 5px;
		    color: #FFFFFF;
		    content: "";
		    display: block;
		    font-size: 0;
		    width: 0;
		    height: 0;
		    margin-bottom: 4px;
		    padding: 5px;
		    border:solid 1px #FFFFFF;
			opacity:0.6;
		}
		&.active:before{
			opacity:1;
			background-color:#Fff;
		}
		&:hover:before{
			opacity:1;
			background-color:#Fff;
		}
	} 
}

#mainContent, #content{@include fullscreen;}

.column{width:40%; min-width:520px;}
.smallScreen{
	display:none;
}

ul{font-size:1em;}
p{font-size:1em;}